.appMenu {
    position: relative;
    background: white;
    text-align: center;
}

.menuText {
    transform: translateX(-50%);
    position: absolute;
    left: 165px;
    top: 60px;
    font-size: 46px;
    color: white;
    font-family: cursive;
}
.menuTextButton{
    background: #FFE4B5;
    color: black;
    cursor: pointer;
    text-decoration: none;
    border: 2px solid rgb(255, 255, 255, 0);
    position: absolute;
    padding: 10px 20px; 
    transform: translateX(-50%); 
    top: 130px;
    left: 145px;
    border-radius: 10px;
}
.menuTextButton:hover{
    background: transparent;
}
.menuCategory {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 15px;
    font-family: cursive;
}

.menuItem {
    display: inline-block;
    background: white;
    overflow: hidden;
    font-family: cursive;
    justify-content: space-between;
    margin: 10px;
}
.menuItemDetails {
    padding: 20px;
    text-align: center;
}

.menuItemTitle {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.menuItemIngredients {
    font-size: 14px;
    color: black;
    font-weight: bold;
    margin-bottom: 10px;
}

.menuItemPrice {
    font-size: 18px;
    font-weight: bold;
    color: black;
}

.menuItemImage {
    text-align: center;
    transition: 0.4s ease;
    object-fit: cover;
}
.menuItemImage:hover{
    transform: scale(1.1);
}






@media screen and (max-width: 1150px){
    .menuCategory{
        font-size: 25px;

    }
    .appMenu{
        font-size: 15px;
    }
    .menuItemImage{
        height: 150px;
        width: 150px;


    }

    .menuItem{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 25px;
    }



}