.footerBox{
    display: flex;
    position: absolute;
    align-items: center;
    background: rgb(254,205,165);
    height: 300px;
    width: 100%;
}


.logo{
    margin-bottom: 20px;
    position: relative;
    left: 670px;
}
.home,
.about,
.products{
    font-weight: bold;
    margin-bottom: -3rem;
    margin-left: 1.4rem;
    position: relative;
    left: 28rem;
    font-family: cursive;

}

.prPolicy,
.insta,
.linkedin{
    font-weight: bold;
    margin-top: 7rem;
    margin-left: 2rem;
    position: relative;
    left: 10rem;
    font-family: cursive;
}

.copyright,
.year{
    font-size: 13.5px;
    position: relative;
    top: 120px;
    right: 20px;
    font-family: cursive;


}

.line{
    position: relative;
    top: 94px;
    right: 225px;

}

.instaIcon{
    position: relative;
    top: 60px;
    right: 450px;
    text-decoration: none;
    cursor: pointer;
}

.linkedinIcon{
    position: relative;
    top: 60px;
    right: 353px;
    cursor: pointer;
}
.linkedin a,
.insta a{
    text-decoration: none;
    color: black;
}

@media screen and (max-width: 1150px) {
    .logo{
        margin-bottom: 20px;
        position: relative;
        left: 10px;
    }
    .home,
    .about,
    .products{
        font-weight: bold;
        margin-bottom: -3rem;
        margin-left: 1.4rem;
        position: relative;
        left: -12.7rem;
        font-family: cursive;

    }
    .prPolicy,
    .insta,
    .linkedin{
        font-weight: bold;
        margin-top: 7rem;
        margin-left: 2rem;
        position: relative;
        left: -27rem;
        font-family: cursive;
    }
    .copyright,
    .year{
        font-size: 13.5px;
        position: relative;
        top: 120px;
        right: 590px;
        font-family: cursive;
    }
    .line{
        position: relative;
        top: 94px;
        right: 738px;
    
    }
    .instaIcon{
        position: relative;
        top: 60px;
        right: 1040px;
    }
    
    .linkedinIcon{
        position: relative;
        top: 60px;
        right: 943px;
    }
}