body {
    margin: 0;
}

::selection {
    background-color: #800020;
    color: white; 
 }
.appNavbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFE4B5;
    padding: 0px;

}
.font{
    color: #800020;
    font-family: cursive;
    text-transform: uppercase;
}

.appNavbarLogo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.appNavbarLogo img{
    margin: 2.125rem 5rem;
    width: 200px;
}

.appNavbarLinks{
    display: flex;
    flex: 1;
    align-items: center;
    list-style: none;
    font-size: 14px;
    margin: 0 -6rem;
    font-weight: bold;
    padding: 0rem 2rem;
}

.appNavbarLinks li{
    margin: 0 1rem;
    cursor: pointer;
}
.appNavbarLinks li a{
    color: 	#70021d;
    text-decoration: none;
    transition: 0.5s ease;
}
.appNavbarLinks li a:hover{ 
    border-bottom: 1px solid rgb(235, 157, 157);
}

.appNavbarLogin{
    display: flex;
    margin: 0 2rem;
    align-items: center;
    justify-content: flex-end;
    font-family: 'proxima-nova', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
}

.appNavbarLogin a{
    margin: 0 0.5rem;
    text-decoration: none;
    transition: 0.5s ease;
}
.appNavbarLogin a:hover{
    border-bottom: 1px solid rgb(235, 157, 157);
}

.appNavbarLogin div{
    width: 2.3px;
    height: 30px;
    margin: 0 0.5rem;
    background-color: #800020;
}
.appNavbarMobile{
    display: none;
}

.appNavbarMobileOverlay{
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    position: fixed;
    background: #FAEBD7;
    transition: 0.5s ease;
    flex-direction: column;
    z-index: 5;
}

.appNavbarMobileOverlay .overlayClose{
    font-size: 50px;
    color: black;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 20px;
}
.appNavbarMobileLinks{
    list-style: none;

}
.appNavbarMobileLinks li{
    text-align: center;
    margin: 2rem;
    cursor: pointer;
    color: #70021d;
    font-size: 35px;
    
}

.appNavbarMobileLinks li a:hover{
    color: #b60431;
}
.appNavbarMobileLinks li a{
    color: #70021d;
    text-decoration: none;
}

@media screen and (max-width: 1150px) {
    .appNavbarLinks{
        display: none;
    }
    .appNavbarMobile{
        display: flex;
    }
}
