body {
    margin: 0;
}

::selection {
    background-color: #800020;
    color: white; 
 }
.appNavbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFFFF0;
    padding: 0px;

}
.font{
    color: #B22222;
    font-family: 'ProximaNova-Semibold';
    text-transform: uppercase;
}

.appNavbarLogo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.appNavbarLogo img{
    width: 40px;
}

.appNavbarLinks{
    display: flex;
    justify-content: center;
    flex: 1;
    align-items: center;
    list-style: none;
}

.appNavbarLinks li{
    margin: 0 0.5rem;
    cursor: pointer;
    text-decoration: none;
}
.appNavbarLinks li a{
    color: 	#B22222;
    text-decoration: none;
    transition: 0.5s ease;
}
.appNavbarLinks li a:hover{
    border-bottom: 0.5px solid rgb(235, 133, 133);
}

.appNavbarLogin{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.appNavbarLogin a{
    margin: 0 0.5rem;
    text-decoration: none;
    transition: 0.5s ease;
}
.appNavbarLogin a:hover{
    border-bottom: 0.5px solid rgb(235, 133, 133);
}

.appNavbarLogin div{
    width: 1px;
    height: 30px;
    margin: 0 1rem;
    background-color: #B22222;
}
.appNavbarMobile{
    display: none;
}

.appNavbarMobileOverlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: #B22222;
    transition: 0.5s ease;
    flex-direction: column;
    z-index: 5;
}

.appNavbarMobileOverlay .overlayClose{
    font-size: 20px;
    color: black;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
}

/*@media screen and (max-width: 1150px) {
    .appNavbarLinks{
        display: none;
    }
    .appNavbarMobile{
        display: flex;
    }
}
*/