.appWrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;

    min-height: 100vh;
}
.appWrapperInfo{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2rem;
}
.sectionPadding{
    padding: 3rem 5rem;
}
.appWrapperImg{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2rem;
}
.appWrapperImg img{
    width: 90%;

}
.lineImg{
    width: 90px;
    margin: 0px 50px;
    padding: 250px 0px;

}

/*@media screen and (max-width: 1150px){
    .appWrapper{
        flex-direction: column;
    }
    .appWrapperImg{
        margin: 5rem 0rem 0rem 0rem;
    }
    .appWrapperImg img{
        width: 100px;
    }
}*/
